.modelling__side__pane__outer{
    top: 0px;
    bottom: 0px;
    width: 200px;
    background-color: whitesmoke;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(51, 63, 72);
    font-family: Calibri;
    font-size: 14px;
    font-weight: 200;
    
}