.app__header__outer{
    position: fixed;
    top: 0px;
    left: 100px;
    right: 0px;
    height: 50px;
    background-color: rgb(196, 196, 196);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}