.app__window__outer{
    position: fixed;
    top: 50px;
    bottom: 0px;
    right: 0px;
    left: 60px;
    margin: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    background-color: rgb(196, 196, 196);
    overflow-x: scroll;
}