.loading__spinner__outer{
    position: fixed;
    width: 100px;
    height: 100px;
    transform: translate(-50px, -50px);
    top: 50%;
    left: 50%;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading__spinner__shape__inner{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border-bottom: 3px solid rgb(189, 122, 179);
    animation: spinny-ring-reverse 2s linear infinite;
    position: absolute;
    box-shadow:  0px 3px 5px -1px rgb(189, 122, 179);   
}

.loading__spinner__shape__middle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-bottom: 3px solid rgb(92, 184, 178);
    animation: spinny-ring-reverse 2s linear infinite;
    position: absolute;
    box-shadow:  0px 3px 5px -1px rgb(92, 184, 178);
}

.loading__spinner__shape__outer{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-bottom: 3px solid rgb(141, 198, 63);
    animation: spinny-ring-offset 2s linear infinite;
    position: absolute;
    box-shadow:  0px 3px 5px -1px rgb(141, 198, 63);
}

.loading__spinner__icon{
    animation: spinny-icon 2s linear infinite;
    position: absolute;
}

@keyframes spinny-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spinny-ring-reverse {
    0% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(-90deg);
    }
  }

  @keyframes spinny-ring-offset {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(-180deg);
    }
  }

  @keyframes spinny-icon{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }